table tr.pagestocategories-parent { background-color: #dbdbdd !important; }

table tr.pagestocategories-parent td.title a.row-title:after { content: " (taxonomy)"; font-size: 85%; }

table tr.pagestocategories-child { background-color: #e3e3e5 !important; }
